*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .zona{
    padding: 100px 200px;
    background: #ccc;
    margin: 50px;
    outline: 6px dashed #aaa;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url(textura3.jpeg);
    
}
.contenedor{
 border: 1px solid #000;
 display: flex;
 padding: 5px;
 gap: 10px
}
.cont-Textura{
    width: 75px;
    height: 75px;
    cursor:pointer;
}

.textu1{
    background-image: url(textura1.jpeg);
}

.textu2{
    background-image: url(textura2.jpeg);
}

.textu3{
    background-image: url(textura3.jpeg);
}
.circulo{
/*display: inline-block;*/
background-color: #f00;
width: 50px;
height: 50px;
padding: 40px;
border-radius: 50%;
cursor: pointer;
}
